[submodule "pycomlink"]
	path = pycomlink
	url = https://github.com/pycomlink/pycomlink
[submodule "RAINLINK"]
	path = RAINLINK
	url = https://github.com/overeem11/RAINLINK.git
[submodule "PWSQC"]
	path = PWSQC
	url = https://github.com/LottedeVos/PWSQC
[submodule "MapRAINLINK"]
	path = MapRAINLINK
	url = https://github.com/overeem11/MapRAINLINK
