.ipynb_checkpoints
.Rproj.user
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/OPENSENSE_sandbox.iml
.idea/vcs.xml
.idea/misc.xml
.idea/workspace.xml
